<% content_for :title do %>Contact<% end %>
<h3>Contact</h3>
<div class="form">
  <%= form_with(model: @contact) do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true %>
    <br/>
    <br/>
    <%= form.label :email %>
    <%= form.email_field :email %>
    <br/>
    <br/>
    <%= form.label 'message' %>
    <%= form.text_area :content, size: '40x5' %>
    <br/>
    <br/>
    <%= form.submit 'Submit', class: 'submit' %>
  <% end %>
</div>
